:root {
    --main-color: #5B21B6;
}
/* ======================================================================== */
/* General Styles */
/* ======================================================================== */
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
}

.container {
    display: grid;
    grid-template: minmax(150px, .1fr) 1fr / minmax(220px, .2fr) 1fr;
    grid-template-areas: "nav header"
                         "nav content";
    width: 100vw;
    height: 100vh;
}

/* ======================================================================== */
/* Navigation Styles */
/* ======================================================================== */
.dash-nav {
    grid-area: nav;

    background-color: var(--main-color);
    color: white;
    padding: 15px;
}

.dash-nav a {
    color: white;
    text-decoration: none;
}

ul.nav-list {
    font-size: 1.1rem;
    font-weight: bold;
    list-style-type: none;
    padding: 0px;
}

ul.nav-list li {
    padding: .5rem 0rem;
}

ul.nav-list .icon {
    filter: invert(1);
    padding: 0px;
    transition: padding .5s;
}

ul.nav-list a:hover {
    filter: invert(.15);
    transform: scale(1.05);
    transition: .5s;
    padding: 2px;
}

ul.nav-list a {
    display: grid;
    grid-template-columns: 36px 12ch;
    justify-content: center;
    align-items: center;
}

/* ======================================================================== */
/* Header Styles */
/* ======================================================================== */
.dash-head {
    grid-area: header;

    display: grid;
    grid-template-rows: minmax(50px, .5fr) minmax(50px, 1fr);
    grid-template-columns: minmax(200px, 1fr) minmax(100px, .2fr) minmax(50px, .1fr) minmax(100px, .5fr);
    grid-template-areas: "search search . splash"
                         "greeting  . action action";

    padding: 10px 35px;
}

.search-bar {
    grid-area: search;
    display: flex;
    align-items: center;
}

#searchbar {
    width: 90%;
    padding: .25rem;

    border-radius: 15px;
    border: none;
    background-color: #e8e1e9;
}

#searchbar:focus {
    outline: 2px solid grey;
}

#search-btn {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

#spyglass {
    padding: 10px;
}

.user-splash {
    grid-area: splash;

    display: flex;
    gap: 15px;
    align-items: center;
    justify-items: space-around;
    text-align: center;
}

.user-splash h3 {
    flex-grow: 1;
}

#small-profile {
    background-color: rgb(162, 0, 255);
    border-radius: 100%;
    overflow: hidden;

    width: 50px;
    height: 50px;
}

.user-greeting {
    grid-area: greeting;

    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: column;

    align-items: center;
}

.greet-text {
    padding: 0px 15px;
}

.greet-text h2, p {
    padding: 0px;
    margin: 0px;
}

.greet-text h2 {
    text-indent: 1rem;
}

#profile-pic {
    text-align: center;
    width: 75px;
    height: 75px;
    background-color: rgb(162, 0, 255);
    border-radius: 100%;
    overflow: hidden;
}

.action-container {
    grid-area: action;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;

    align-content: center;
}

.action-container button {
    height: 2rem;
    padding: 5px;
    
    border: none;
    border-radius: 15px;

    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .5);
    background-color: var(--main-color);

    cursor: pointer;

    filter: none;
    transition: filter .25s;
}

.action-container button:hover {
    filter: grayscale(.4);
    transition: .25s;
}

/* ======================================================================== */
/* Main content styles */
/* ======================================================================== */
.main {
    grid-area: content;

    background-color: #f7f7f7;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .4);
    padding: 10px 25px;

    display: grid;
    grid-template: 2rem 1fr 2rem 1fr / 1fr minmax(300px, .25fr);
    justify-content: space-between;
    align-content: space-between;
    gap: 25px;
    overflow: hidden;
}

.user-projects {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    padding-top: 10px;
    padding-right: 10px;

    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(150px, .3fr));
    grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
    gap: 25px;
    overflow: hidden;
}

.card {
    background-color: white;

    border-radius: 7px;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
    padding-left: 10px;

    overflow: hidden;
}

.project-card {
    border-left: 7px solid #16A34A;
    min-height: 150px;
}

.announcements {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.announcement-list {
    list-style: none;
    padding: 5px 30px;
}

.announcement-list li {
    border-bottom: 1px solid grey;
    padding-bottom: 15px;
}

.announcement-list a {
    text-decoration: none;
    color: black;
}

/* Remove bottom border from the last announcment */
.announcement-list li:last-child {
    border: none;
}

.announcement-title {
    font-size: 1.1rem;
    margin: 5px 0px;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}